<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
<div class="container">
  <div class="item" id="item1">
  
       <img class="nike" src="assets/img/nike1.png" alt="">
  </div>  
  <div class="meio" id="item2">

  <img class="tenisgrande" src="assets/img/tenisgrande.png">
  <div class="item" id="item3"> 
  
    <ion-text> 
          <h1> SUMMER <br> COLLECTION <BR><span> 2022 </span></h1> <BR> <p class="texto1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum recusandae necessitatibus ducimus eius nemo, minus accusantium doloremque distinctio </p>
          </ion-text>
    </div>  
</div>    
  
  <div class="botao" id="item4">
     <button color="warning"id="botao">GET STARTED 
      <ion-icon slot="end"name="arrow-forward"></ion-icon>
     </button>  
    </div>
</div>
</ion-content>

