
<link rel="stylesheet" href="https://fonts.google.com/specimen/Holtwood+One+SC">
<ion-header [translucent]="true">

 
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-img class="menu_listras"
        src="assets/img/menu_listras.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>


      </ion-col>


      <ion-col size="8">
        <ion-img class="nike"
        src="assets/img/nike1.png"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>

      </ion-col>
     <div id="usercircle"class="circle"> <ion-col size="auto"> <ion-icon class="usuario"name="person"></ion-icon></ion-col></div>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
          <img class="tenis" id="verde"src="assets/img/tenisverde.png" alt="">
          
      </ion-col>
      <ion-col><img class="tenis" src="assets/img/tenisazul.png" alt=""></ion-col>
      <ion-col><img class="tenis"src="assets/img/tenisbege.png" alt=""></ion-col>
      
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <img class="tenisprincipal" src="assets/img/tenismain.png" alt="">
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-text color="primary">
        <h1 class="titulo"><b>KYRIE INFINITY</b></h1>
        <h2 class="subtitulo">Calçados para Basquete</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores odio sed aperiam voluptatem voluptate ut porro sequi.  veniam nam.</p>
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row class="lastrow"size="2">
          <ion-text color="primary">
            <h2>PREÇO</h2>
            <H1 color="primary" class="preco"> <b>$799</b></H1>
          </ion-text>
          <ion-col>2</ion-col>
          <ion-col>2</ion-col>
          <ion-col>2</ion-col>
          <ion-col>
           <div class="circle"> <img class="share"src="assets/img/share 1.png" alt=""></div>
          </ion-col>
          <ion-col>
            <div class="circle" id="bag"> <img class="shopping-bag"src="assets/img/shopping-bag 1.png" alt=""></div>
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      
        <ion-col> 1 </ion-col>
        <ion-col> 1</ion-col>
        
    </ion-row>
</ion-grid>
  
  



  


</ion-content>
